.container {
  padding: 2rem;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.nav {
  width: 50vw;
  height: 2rem;
  position: relative;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  display: inline-block;
  width: 6rem;
  text-align: center;
  border: 0.2rem solid #18be1d;
  border-radius: 2rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}


