.user {
    width: max-content;
    min-width: 20rem;
    height: 5rem;
    margin-bottom: 1rem;
    background-color: #54b836;
    border-radius: 2rem;
    padding: 1rem ;
}

.user span {
font-weight: 600;
}